<main class="main">
    <h1 class="title">{{ title }}</h1>
    <section class="products">
        {{#each data}}
            <article class="product">
                <img
                    src={{ this.thumbnail }} 
                    alt={{ this.title }}
                >
                <h3 >{{ this.title }}</h3>
                <p >${{ this.price }}</p>
            </article>
        {{/each}}
    </section>
</main>
